{% extends 'basesatu.html' %} {% load static %} {% block content %}

<body class="">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">EDIT PROFIL ANDA</h4>
                                    </div>
                        <div class="card-body">

                    <div class="container emp-profile">
          <form method="post">
                            
           <div class="card-body">
             <div class="table-responsive">
                <table class="table table-hover">
                                <tr>
                                    <td>Nama Perusahaan</td> <td> PT. Uji Coba</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Berdiri</td> <td> 28 Juni 1999 </td>
                                </tr>
                                <tr>
                                     <td>Nomer Hp</td>  <td>089648945</td>
                                </tr>
                                <tr>
                                    <td>Email</td>   <td> olele@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Alamat Lengkap</td> <td>Jalan kaliurang sleman yogyakarta</td>
                                </tr>
                                    <td>Bio</td>  <td>selamat pagi</td>
                                </tr>
                                <body>
                                    {% for d in data %}
                                    <tr>
                                        <td>{{d.nama_perusahaan}}</td>
                                        <td>{{d.tanggal_berdiri}}</td>
                                        <td>{{d.no_hp}}</td>
                                        <td>{{d.email}}</td>
                                        <td>{{d.alamat_lengkap}}</td>
                                        <td>{{d.bio}}</td>

                                      <div class="col-md-4">
                                           <img src="{{ p.image.url }}" alt="Image Not Found" width="300px">
                                      </div>

                                    </tr>
                                </body>
                                
                                 <a href="/pengguna" class="btn btn-danger" class="card-link">Back</a>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>





             



                





                
    
              

        
     


                        </div>
                    </div>
                </div>
                
            </div>
         </div>
      </div>
      </div>
    </div>
</body>

{% endblock %}




